# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build outputs
dist/
build/
.next/
out/

# Database files
*.db
*.db-journal

# Local env files
.env
.env.local

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
